:root {
  --principal-color: #4a90e2;
  --secondary-color: #50e3c2;
  --background-color: #f5f7fa;
  --primary-text-color: #333333;
  --secondary-text-color: #7f8c8d;
  --white-color: #ffffff;
  --primary-hover-color: #3498db;
}
